.footer {
  width: 100%;
  margin-top: 200px;
  background: #000;
  color: #fff;

  &__main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
    &--name {

      .name {
        display: flex;
        align-items: center;
        img {
          width: 40px;
        }

        h1 {
          width: 250px;
          margin-left: 10px;
          font-weight: bold;
          line-height: 28px;
          letter-spacing: 1px;
          font-family: 'Courier New', Courier, monospace;
          color: #fff;
          ;

          span {
            color: crimson;
            font-family: 'Courier New', Courier, monospace;

          }
        }

      }
    }

    .icon-link {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 250px;
      div {
        transition: all 0.3s;
        width: 20px;
        &:hover {

          transform: scale(1.3, 1.3);
        }
        a {
          font-size: 1.8rem;
          color: crimson;
          transition: all 0.3s;
  
          & + a {
            margin-left: 2rem;
          }
  
          &:hover {
            color: #fff;
          }
        }
      }
    }
    // Footer navbar link section style
    .navbar__link {
      margin-top: 20px;
      &--title {
        h3 {
          font-size: 1.2rem;
          font-weight: 300;
          font-family: 'Courier New', Courier, monospace;
          letter-spacing: 1px;
        }

        ul {
          margin-top: 10px;
          li {
            margin-top: 5px;
            a {
             color: crimson;
             font-weight: 500;
             letter-spacing: 1px;
             transition: all 0.5s;

             &:hover {
               color: #fff;
               border-bottom: 2px solid #fff;
             }
            }
          }
        }
      }
    }
    // About link section style
    .about--link {
      margin-top: 20px;

      h3 {
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 1px;
        font-weight: 500;
      }
      .item-link {
        margin-top: 10px;

        a {
          color: crimson;
          display: flex;
          align-items: center;
          transition: all 0.4s;
          
          i {
            color: #fff;
            font-size: 1.5rem;
            margin-right: 10px;
          }

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

// Media query section style 
 
@media only screen and (max-width: 768px) {
  .footer {

    &__main {
      display: block;

      &--name {
        margin-left: 30%;
      }

      .navbar__link {
        border-bottom: 2px solid crimson;
        padding-bottom: 10px;
        &--title {
          margin-top: 40px;
          text-align: center;
          h3 {
            font-size: 2rem;
          }
        
        }
      }

      .about--link{
        text-align: center;
        
        h3 {
          font-size: 2rem;
        }

        .item-link {
          display: flex;
          a {
            margin-left: 3%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 475px) {
  .footer {

    &__main {
      width: 100%;
      &--name {
        width: 100%;
        .name {
          margin-left: -10%;
          img {
            width: 40px;
          }
          h1 {
            font-size: 28px;
            line-height: 20px;
          }
        }
      }

      .icon-link {
        margin-left: -10%;
      }
      .about--link {
        .item-link {
          display: block;
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}