.skills {
    margin-top: 200px;

    &_title {
        text-align: center;

        .title {
            margin-bottom: 45px;

            span {
                font-size: 2rem;
                padding: 5px 20px;
                background: crimson;
                border-radius: 0.3rem;
                font-weight: 600;
                text-transform: uppercase;
                box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 50px;

        .item {
            width: 480px;
            background: #ccc;
            margin-top: 30px;
            margin-left: 30px;
            text-align: center;
            box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
            background: #000;
            color: #fff;
            border-radius: 0.3rem;

            i {
                font-size: 3rem;
                padding-top: 20px;
                padding-bottom: 5px;
                color: crimson;
            }

            h2 {
                color: crimson;
                font-weight: 700;
                letter-spacing: 2px;
            }

            p {
                padding: 10px 20px 20px 20px;
                font-size: 1rem;
                font-family: 'Courier New', Courier, monospace;
                text-align: left;
                letter-spacing: 1px;

                span {
                    color: crimson;
                    font-weight: 700;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .skills {
        .wrapper {
            display: block;
            margin-left: 40px;
        }
    }
}

@media only screen and (max-width: 475px) {
    .skills {
        &_title {
            .title {
                span {
                    font-size: 1.5rem;
                    padding: 5px 10px;
                }
            }
        }
        .wrapper {
            .item {
                width: 300px;
                margin-left: -6%;
                // margin-top: -20px;
            }
        }
    }
}