.teams {
  margin-top: 80px;
  padding-bottom: 40px;
  z-index: -111;

  .title {
    text-align: center;
    margin: 40px 0;

    span {
      font-size: 2rem;
      padding: 5px 20px;
      background: crimson;
      border-radius: 0.3rem;
      font-weight: 600;
      text-transform: uppercase;
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    }
  }


  &__main {
    margin-top: 40px;

    &--slide {
      width: 300px;
      background: #002;
      border-radius: 0.4rem;
      color: #fff;

      .card {
        text-align: center;
        margin-bottom: 40px;

        img {
          width: 100px;
          border-radius: 50%;
          margin: 20px 0px;
        }

        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          letter-spacing: 1px;
          color: crimson;
        }

        .link-icon {
          margin-top: 20px;

          a {
            color: crimson;
            font-size: 1.5rem;
            transition: all 0.3s;

            &+a {
              margin-left: 20px;
            }
          }


        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 475px) {
  .teams {

    .title {
      span {
        font-size: 1.5rem;
        padding: 5px 10px;
      }
    }

    &__main {

      &--slide {

        .card {
          img {
            width: 50px;
          }
          h3 {
            font-size: 20px;
          }
          .link-icon {
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}